<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>EditProject</title>
</head>
<body>
  <nav class="flex py-3 justify-between px-5">
      <a href="/views/home">
        <img class="w-[70px]" src="/views/assets/logo.png" alt="logo" >
      </a>
        <div class="flex gap-5">
           <a href="/views/createProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector.png" alt="" class="w-[20px]">
            add projet
           </a>

             <a href="/views/editProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/icon _edit_.png" alt="" class="w-[20px]">
            edit projet
           </a>
           <a href="/views/profil" class="bg-gray-200 font-bold flex items-center px-4 py-2 gap-2 rounded-lg">Profil<img src="/views/assets/parametres-cog.png "class="w-[20px] " alt="Profil"></a>
        </div>
    </nav>

      <div class="max-w-xl p-5 mx-auto mt-20 bg-white rounded-md shadow">
        <div class="flex justify-center gap-60 mb-5">
          <h1 class="font-bold text-3xl flex py-3s">Edit projet</h1>
        </div>
        <div>
         <div class="max-w-2xl mx-auto bg-white ">

          <form class="flex gap-y-6 flex-col mx-auto">

            <div>
              <label for="name" class="block mb-2 text-xl">Current Name of Project</label>
              <input type="text" id="first_name" class="bg-gray-200 border border-gray-300  rounded-lg block w-full p-2.5 " placeholder="" required>
            </div>
            
            <div class="flex gap-x-6">
              <div>
                <label for="name" class="block mb-2 text-xl">Name</label>
                <input type="text" id="first_name" class="bg-gray-200 border border-gray-300  rounded-lg block w-[250px] p-2.5 " placeholder="" required>
              </div>
            
              <div>
                  <label for="company" class="block mb-2 text-xl">Description</label>
                  <textarea
                  rows="2"
                  name="message"
                  class="w-[250px] px-3 py-2 placeholder-gray-300 bg-gray-200 border border-gray-300 rounded-md  focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                  required
                ></textarea>
              </div> 
            </div> 
            
            <div class="flex gap-6 w-full">
              <div>
                  <label for="email" class="block mb-2 text-xl">Add a member (email)</label>
                  <input type="email" id="website" class="bg-gray-200 border border-gray-300 rounded-lg block w-[250px] p-2.5">
              </div>
              <div class="flex items-center gap-2">
                <div class="flex mt-12 gap-4">
                  <h5>Admin</h5>
                  <label class="relative inline-flex items-center mb-5 cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                  </label>
                </div>
              </div>
            </div>

            <button type="submit" class=" flex justify-center items-center py-3 px-2 text-white text-xl bg-[#02A9F6] rounded-md focus:bg-indigo-600 focus:outline-none">
                update projet          
            </button>
          </form>

         </div>
        </div>
      </div>
</body>
</html>