<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ForgotPassword</title>
</head>
<body>
    <div class="flex flex-col items-center ">
        <img src="./img/logo.png" alt="logo">
        <span class="font-bold text-3xl flex py-3s ">
            Forgot password
        </span>
    <form class="">
        <div class="flex flex-col gap-2 py-10">
            <label class="text-xl ">Enter you email</label>
            <input type="email" name="email" id="email" class="border w-[18em] rounded-lg bg-gray-200 px-2 py-2" placeholder="">
        </div>
        <a href=""><button class="bg-[#02A9F6] rounded-lg text-white text-xl px-6 py-2 ml-[5em] my-3">Submit</button></a>
    </form>
</div>
</body>
</html>