<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>NewProject</title>
</head>
<body>
  <nav class="flex py-3 justify-between px-5">
    <a href="/views/home">
      <img class="w-[70px]" src="/views/assets/logo.png" alt="logo" >
    </a>        
        <div class="flex gap-5">
           <a href="/views/createProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector.png" alt="" class="w-[20px]">
            add projet
           </a>

             <a href="/views/editProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/icon _edit_.png" alt="" class="w-[20px]">
            edit projet
           </a>
           <a href="/views/profil" class="bg-gray-200 font-bold flex items-center px-4 py-2 gap-2 rounded-lg">Profil<img src="/views/assets/parametres-cog.png "class="w-[20px] " alt="Profil"></a>
        </div>
    </nav>

   <div class="container mx-auto">
  <div class="max-w-xl p-5 mx-auto my-10 bg-white rounded-md shadow-sm">
    <div class="text-center">
      <h1 class="my-3 text-3xl font-bold text-gray-700">New projet</h1>
    </div>
    <div>
      <form action="" method="POST" id="formProjet">
        <div class="mb-6">
          <label for="name" class="block mb-2 text-xl"
            >Name</label
          >
          <input
            id="name"
            type="text"
            name="name"
            required
            class="w-full px-3 py-2 placeholder-gray-300 bg-gray-200 border border-gray-300 rounded-md  focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
          />
        </div>
       
        <div class="mb-6">
          <label for="message" class="block mb-2 text-xl"
            >Description</label
          >

          <textarea
            id="description"
            rows="5"
            name="description"
            class="w-full px-3 py-2 placeholder-gray-300 bg-gray-200 border border-gray-300 rounded-md  focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
            required
          ></textarea>
        </div>
        <div class="mb-6 flex justify-center">
          <button
            type="submit"
            class=" px-14 py-2 text-white text-xl bg-[#02A9F6] rounded-md  focus:bg-indigo-600 focus:outline-none"
          >
          create projet          
        </button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  // Récupérer le formulaire
  const projetForm = document.getElementById('formProjet');

  // Ajouter un gestionnaire d'événement pour l'événement de soumission du formulaire
  projetForm.addEventListener('submit', async (event) => {
      event.preventDefault(); // Empêcher le comportement par défaut du formulaire

      // Récupérer les valeurs des champs de formulaire
      const nameProjet = document.getElementById('name').value;
      const desProjet = document.getElementById('description').value;

      // Créer un objet avec les données de l'utilisateur
      const DataProjet = {
          nameProjet,
          desProjet
      };

      try {
          // Envoyer une requête POST à l'API pour l'inscription
          const response = await fetch('http://localhost:5000/api/addProjet', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(DataProjet)
          });

          // Vérifier le code de statut de la réponse
      if (response.ok) {
          alert("Projet créé avec succès");
          // Réinitialiser les valeurs des champs du formulaire à une chaîne vide
          document.getElementById('name').value = '';
          document.getElementById('description').value = '';

          
          window.location.href = '/views/home';
      }  else {
              const responseData = await response.json();
              alert("erreur lors de la creation du projet 1: " + responseData.message);
          }
      } catch (error) {
          console.error("Erreur lors de la requête 2:", error);
          alert("Erreur lors de la creation du projet. Veuillez réessayer.");
      }
  });
</script>
</body>
</html>