<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profil</title>
</head>
<body>
    <nav class="flex py-3 justify-between px-5">
        <a href="/views/home">
            <img class="w-[70px]" src="/views/assets/logo.png" alt="logo" >
          </a>            
            <div class="flex gap-5">
               <a href="/views/createProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector.png" alt="" class="w-[20px]">
                add projet
               </a>
    
                 <a href="/views/editProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/icon _edit_.png" alt="" class="w-[20px]">
                edit projet
               </a>
               <a href="/views/profil" class="bg-gray-200 font-bold flex items-center px-4 py-2 gap-2 rounded-lg">Profil<img src="/views/assets/parametres-cog.png " class="w-[20px] " alt="Profil"></a>
            </div>
        </nav>
        
        <form action="" class="flex flex-col gap-y-5 p-4 items-center shadow rounded-lg bg-white w-[700px] mx-auto my-28">
          <div>
            <label class="text-3xl text-center">
              Upate Profil
            </label>
          </div>
          <div class="flex gap-x-3">
            <div class="flex flex-col">
              <label class="text-xl ">Name</label>
              <input type="text" name="Username" id="Username" class="border w-[18em] rounded-lg bg-gray-200 px-2 py-2" placeholder="">
            </div>
            <div  class="flex flex-col">
              <label class="text-xl ">Email</label>
              <input type="email" name="Email" id="Email" class="border w-[18em] rounded-lg bg-gray-200 px-2 py-2" placeholder="">
            </div>
          </div>

          <div  class="flex gap-x-3">
            <div class="flex flex-col">
              <label class="text-xl ">Password </label>
              <input type="password" name="Password" id="Password" class="border w-[18em] rounded-lg bg-gray-200 px-2 py-2" placeholder="">
            </div>
            <div class="flex flex-col">
              <label class="text-xl ">Confirm Password </label>
              <input type="password" name="Password" id="Password" class="border w-[18em] rounded-lg bg-gray-200 px-2 py-2" placeholder="">
            </div>   
          </div>
          <button type="update" class="flex justify-center items-center px-14 py-2 text-white text-xl bg-[#02A9F6] rounded-md  focus:bg-indigo-600 focus:outline-none">
            Update        
          </button>
        </form>
</body>
</html>
