<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>
    <nav class="flex py-3 justify-between px-5">
        <div class="w-[70px]"><img src="/views/assets/logo.png" alt="logo" ></div>
            <div class="flex gap-5">
                <a href="/views/Projet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"> <img src="/views/assets/accueil.png" class="w-[20px]">Home</a>
               <a href="/views/createProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector.png" alt="" class="w-[20px]">
                add projet
               </a>
    
                 <a href="/views/editProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/icon _edit_.png" alt="" class="w-[20px]">
                edit projet
               </a>
               <a href="/views/profil" class="bg-gray-200 font-bold flex items-center px-4 py-2 gap-2 rounded-lg">Profil<img src="/views/assets/parametres-cog.png " class="w-[20px] " alt="Profil"></a>
            </div>
        </nav>
    
      <div class="">
        <span class="text-3xl font-bold flex pl-[40%] py-2">Projects</span>
            <div class="flex justify-center gap-52 py-8"> 
                <a href="#" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"> <img src="logo" class="w-[20px]">All projects</a>
               <a href="#" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="logo" alt="" class="w-[20px]">
                Created by me
               </a>
    
                 <a href="#" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="logo" alt="" class="w-[20px]">
                    Shared with me
                </a>
            </div>
      </div>
</body>
</html>
