<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>
    <nav class="flex py-3 justify-between px-5">
        <div class="w-[70px]"><img src="/views/assets/logo.png" alt="logo" ></div>
            <div class="flex gap-5">
               <a href="/views/createProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector.png" alt="" class="w-[20px]">
                add projet
               </a>
    
                 <a href="/views/editProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/icon _edit_.png" alt="" class="w-[20px]">
                edit projet
               </a>

               <a href="#" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector (1).png" alt="" class="w-[20px]">
                Sign out
               </a>

            </div>
        </nav>
    
      <div class="">
        <span class="text-3xl font-bold flex pl-[40%] py-2">Projects</span>
            <div class="flex justify-center gap-52 py-8"> 
                <a href="#" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"> <img src="/views/assets/Vector (2).png" class="w-[20px]">All projects</a>
               <a href="#" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector (4).png" alt="" class="w-[20px]">
                Created by me
               </a>
    
                 <a href="#" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector (3).png" alt="" class="w-[20px]">
                    Shared with me
                </a>
            </div>
      </div>


      <div class="py-8 ml-[27.5%] w-72"> 
        <div class="flex bg-black p-4 gap-6">
            <div class="text-white">
                <p class="font-bold text-xl">name of Project</p>
                <p>user@gmail.com</p>
            </div>
            <div>
                <a href="/views/editProjet">
                    <img class="h-10" src="/views/assets/Vector (4).png" alt="">
                </a>
            </div>
        </div>
       
       
       
        <a href="#" class="text-black p-4 h-20 text-2xl font-bold flex items-center px-2 py-2 gap-2 border-4 border-gray-200 rounded-lg"><img src="/views/assets/Vector (4).png" alt="" class="w-[20px]">
            description
       </a>

         <a href="#" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg h-14"><img src="logo" alt="" class="w-[20px]">
            
        </a>
    </div>
</body>
</html>
