<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Projet1</title>
</head>
<body>
    <nav class="flex py-3 justify-between px-5">
    <div class="w-[70px]"><img src="/views/assets/logo.png" alt="logo" ></div>
        <div class="flex gap-5">
            <a href="/views/Projet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"> <img src="/views/assets/accueil.png" class="w-[20px]">Home</a>
           <a href="/views/createProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/Vector.png" alt="" class="w-[20px]">
            add projet
           </a>

             <a href="/views/editProjet" class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"><img src="/views/assets/icon _edit_.png" alt="" class="w-[20px]">
            edit projet
           </a>
           <a href="/views/profil" class="bg-gray-200 font-bold flex items-center px-4 py-2 gap-2 rounded-lg">Profil<img src="/views/assets/parametres-cog.png " class="w-[20px] " alt="Profil"></a>
        </div>
    </nav>

   <div class="flex  flex-col items-center py-10 gap-4">
        <span class="font-bold text-4xl py-3">Projets</span>
        <div class="flex gap-[160px]">
            <button class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"> 
                <img src="/views/assets/Vector (2).png" alt="" class="w-[20px]">
                all projets
            </button>
            <button class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"> 
                <img src="/views/assets/icon _edit_.png" alt="" class="w-[20px]">
                Create by me
            </button>
            <button class="bg-gray-200 font-bold flex items-center px-2 py-2 gap-2 rounded-lg"> 
                <img src="/views/assets/Vector (3).png" alt="" class="w-[20px]">
                shared with me
            </button>
        </div>
   </div>

 <div class="flex gap-5">
    <div class=" w-1/2 h-38 ml-[15em] py-10  ">
        <div class="h-20 w-1/3 bg-black text-white font-bold items-center px-3 flex border border-gray-200 h-20 w-1/3 ">
            <p class="text-xl"><span>nom du projet</span>
                <span class="text-sm">user@gmail.com</span></p>
            <div><img src="/views/assets/Vector (4).png" alt="" class="w-[30px]"></div>
        </div>
        <div class="px-5 text-center py-8 border border-gray-200 w-1/3">
            <span class="font-bold">description</span>
        </div>
        <div class="bg-gray-400 h-[30px] w-1/3 border border-gray-200 w-1/3"></div>
    </div>
 </div>

<script>

</script>
</body>
</html>